.THIS {
  
}

.THIS .left {
  float: left;
  margin: 5px;
  padding: 5px;
}

.THIS .right {
  float: left;
  margin: 5px;
  padding: 5px;
}

.THIS .row {
  clear: both;
}

.THIS .row div {
  
}

.THIS h1 {
  margin: 5px auto 0;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}